link(rel='stylesheet', href="/bower_components/bootstrap/dist/css/bootstrap.css", type="text/css")
link(rel='stylesheet', href="/bower_components/font-awesome/css/font-awesome.css", type="text/css")
link(rel='stylesheet', href="/dist/blog_home.css", type="text/css")
#index(style="display:none;") #{index}
div.body
  include head
  include modal
  div.content
    //- a.btn.btn-warning.post(href="/blog/post", target="_blank") 创建一篇文章
    if user
      if user.name == "admin"
        a.btn.btn-warning.create_new_version(data-toggle="modal",data-target="#Modal",data-backdrop="static") +创建一个新版本
    div.context_wrapper
      div.sidebar
        ul
          each item, i in versions
            li
              a.version_articles(href="javascript:;", data-version="#{item.version}") #{item.version}版本 (#{item.article}篇文档)
      div.sidebar_right
        p in 
      div.context
        div.article_wrapper
          each item, i in posts
            div.article_item(data-url="/blog/#{item.name}/#{item.time.day}/#{item.title}") 
              h4 
                a(href="/blog/#{item.name}/#{item.time.day}/#{item.title}") #{item.title}
              p.info 
                作者：
                a(href="/blog/#{item.name}") #{item.name}；
                日期：
                #{item.time.minute}
              div
                //- p.article !{item.post.slice(0, 250)}  
                p.article #{item.subject} ...
                  a.seeAll(href="/blog/#{item.name}/#{item.time.day}/#{item.title}") 查看全文
        div.paginate_wrapper
          div.totalPage 共#{total}条
          div.paginate.pagination
script(src="/bower_components/jquery/dist/jquery.min.js")
script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
script(src="/bower_components/handlebars/handlebars.min.js")
script(src="/javascripts/templates.js")
//- script(src="/bower_components/handlebars/handlebars.min.js")
//- script(src="/javascripts/templates.js")
//- script(src="/javascripts/jquery_validate.js")
script(src="/dist/blog_home.js")
